<h1> Welcome to the <%= @flat.title%> page </h1>
<p> voici toutes les infos de l'appartement : </p>
<%= @flat.description %>
<%= @flat.photo %>
<%= @flat.price %>
<%= @flat.capacity %>
<%= @flat.avaibility %>




